<h1> Welcome to {{model.city.name}} </h1>

{{city-tile city=model.city rentals=model.rentals saveRental="saveRental" destroyCity="destroyCity"}}

{{new-rental saveRental="saveRental" city=model.city}}
